:root {
    --bg-color: #424072;
    --secondary-color: #972787;
    --bold-color: #caff81;
    --bold-color-2: #9ae445be;
    --white-text: #ecf0f1;
}

body {
    background-color: #5994CE;
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    flex-direction: row;
}

body:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    opacity: 0.8;
    z-index: -1;
}

.banner {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block; 
}

#headshot {
    float: left;
    max-width: 30%;
    max-height: 75%;
    margin: 0% 4% 2% 0%;
    object-fit: fill;
    opacity: 1;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgba(78,20,100,0.8);
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    padding: 10px 0;
    list-style: none;
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu a {
    text-decoration: none;
    color: var(--white-text);
    font-size: 18px;
    padding: 10px 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.menu a:hover {
    color: var(--secondary-color);
    background-color: var(--white-text);
    border-radius: 5px;
}

.home-text {
    background-color: var(--bg-color);
    color: var(--white-text);
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 0px 0px 30px rgba(78,20,100,0.8);
    border: 5px solid #972787;
    opacity: 0.93;
    position: relative;
    height: auto;
    overflow: hidden;
}

.home-text  p > b{
    font-size: 40px;
    color: var(--bold-color);
}
.home-text p {
    margin: 2%;
    flex-grow: 1;
}

.home-text a {
    color: var(--bold-color);
}

.home-text a:hover {
    color: var(--bold-color-2);
}

.home-text a:active {
    color: var(--bold-color-2);
}

.home-text h1 {
    color: var(--secondary-color);
    text-shadow: 
        2px 2px 0 var(--white-text),
        -2px 2px 0 var(--white-text),
        -2px -2px 0 var(--white-text),
        2px -2px 0 var(--white-text);
    font-size: 60px;
    text-align: center;
}
.home-text h3 {
    margin-top: 0px;
    color: var(--white-text);
    font-size: 30px;
    text-align: center;
}

#footer {
    width: 100%;
    height: 150px;
    bottom: 0px;
    position:relative;
    background-color: var(--bg-color);
    color: var(--bold-color);
    display: inline-grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 2%;
    box-shadow: 0px -2px 12px rgba(78,20,100,0.8);
}
.directory {
    display:inline-block;
    position: relative;
    justify-content:left;
    text-align: left;
    list-style-type: none;
}

.directory a {
    color: var(--bold-color);
    text-decoration: none;
}

.directory a:hover {
    color: var(--bold-color-2);
}
.blog-container {
    display: grid; /* Change from flex to grid */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ensures responsive grid layout */
    gap: 20px;
    padding: 20px;
    overflow: hidden;
    align-items: stretch; /* Ensures all items stretch to the height of the tallest */
}

.card {
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%; /* Allow the grid to manage the width */
    height: auto; /* Let the grid and content determine the height */
}

.card-inner {
    position: relative;
    width: 100%;
    min-height: 550px; /* Maintains consistent height */
    height: 100%; /* Ensure it stretches to fill the card */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.card-front, .card-back {
    position: absolute;
    height: 100%; /* Ensure front and back fill the card */
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card-front {
    background-color: var(--bg-color);
    color: #ECF0F1;
    justify-content: space-between;
}

.card-front h2 {
    align-self: flex-start, anchor-center; /* Stick h2 to the top */
    margin-bottom: 10px; /* Optional spacing */
}

.card-front h5, 
.card-front p.viewcount {
    align-self: flex-end, anchor-center; /* Stick the photo credit and viewcount to the bottom */
    margin-top: 10px; /* Optional spacing */
}

.card-back {
    background-color: var(--secondary-color);
    color: #ECF0F1;
    transform: rotateY(180deg);
    justify-content: flex-start; /* Align top elements at the top */
}

.card-back h2,
.card-back p.description {
    align-self: flex-start, anchor-center; /* Align these elements to the top */
}

.card-back p.tags {
    bottom: 20px;
    align-self: flex-end, anchor-center; /* Align this element to the bottom */
    position: absolute;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.post-preview {
    flex-grow: 1;
    max-width: 100%;
    max-height: 60%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 25px;
    filter: url(#drop-shadow);
}

.viewcount, .description, .tags {
    margin-top: 10px;
    font-size: 16px;
}

.home-text h3 > hr {
    color: var(--secondary-color);
    background-color: var(--secondary-color);
    height: 6px;
}

#shrines {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.shrine {
    flex: 1 1 calc(30% - 20px); /* Adjust the value based on desired proportions */
    margin: 10px;
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-color);
    color: var(--white-text);
    display: box;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
    margin-bottom: 40px;
}

.shrine img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    filter: url(#drop-shadow);
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 2% 2%;
    height: auto;
}

.container  p > b{
    font-size: 40px;
    color: var(--bold-color);
}
.container p {
    margin: 2%;
    flex-grow: 1;
}

.container a {
    color: var(--bold-color);
}

.container a:hover {
    color: var(--bold-color-2);
}

.container a:active {
    color: var(--bold-color-2);
}

.container h1 {
    color: var(--secondary-color);
    text-shadow: 
        2px 2px 0 var(--white-text),
        -2px 2px 0 var(--white-text),
        -2px -2px 0 var(--white-text),
        2px -2px 0 var(--white-text);
    font-size: 60px;
    text-align: center;
}
.container h3 {
    margin-top: 0px;
    color: var(--white-text);
    font-size: 30px;
    text-align: center;
}

.home-text h3 > hr {
    color: var(--secondary-color);
    background-color: var(--secondary-color);
    height: 6px;
}

.left-box {
    width: 55%;
    background-color: var(--bg-color);
    color: var(--white-text);
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    box-shadow: 0px 0px 30px rgba(78, 20, 100, 0.8);
    border: 5px solid #972787;
    opacity: 0.93;
    height: auto;
    overflow: hidden;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 2.5%;
}

.right-box {
    background-color: var(--bg-color);
    color: var(--white-text);
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    box-shadow: 0px 0px 30px rgba(78, 20, 100, 0.8);
    border: 5px solid #972787;
    opacity: 0.93;
    height: auto;
    overflow: hidden;
}

/* Responsive design */
@media (max-width: 1335px) {
    .card {
        flex: 1 1 30%;  
    }
    .shrine {
        flex: 1 1 45%;
    }
}

@media (max-width: 900px) {
    
    #headshot {
        max-width: 50%;
    }
    .card {
        flex: 1 1 50%;  
    }
    .shrine {
        flex: 1 1 80%;
    }
}
@media (max-width: 650px) {
    #headshot {
        max-width: 50%;
    }
    .menu {
        width: 100%;
        height: 50px;
    }    
    .home-text p {
        margin-left: 5%;
        margin-right: 5%;
    }
    .card {
        flex: 1 1 100%;
    }
    .shrine {
        flex: 1 1 100%; /* Adjust the value based on desired proportions */
    }
}
